{% extends "base.html" %}
{% block content %}


<div>
New Patron
<form method="post" action="{{ url_for('newpatron') }}">
    <div class="form-inline">
        <input type="text" class="form-control" id="patron" name="patron" placeholder="Company">
        <input type="text" class="form-control" id="patronname" name="patronname" placeholder="Contact Name">
        <input type="tel" class="form-control" id="patronmob" name="patronmob" placeholder="Contact phone">
        <input type="email" class="form-control" id="patronemail" name="patronemail" placeholder="Contact Email">
        <input type="text" class="form-control" id="patronmanage" name="patronmanage" placeholder="Managed By">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<hr>

<table class="table table-striped">

    <thead>
      <tr>
        <th>Client</th>
        <th>Contact</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Managed By</th>
      </tr>
    </thead>

    <tbody>

        {% for x in patron.1.Patrons %}

      <tr>
        <td><a href="{{ url_for ('getpatronbyid', id=x.id) }}">{{x.client}}</a></td>
        <td>{{x.contact}}</td>
        <td>{{x.phone}}</td>
        <td>{{x.email}}</td>
        <td>IMP</td>
      </tr>{% endfor %}

    </tbody>

</table>



{% endblock %}
