{% extends "base.html" %}
{% block content %}

<div>
    New Coordinator
    <form method="post" action="{{ url_for('newuser') }}">
        <div class="form-inline">
            <input type="text" class="form-control" id="user" name="user" placeholder="Name">
            <input type="text" class="form-control" id="userteam" name="userteam" placeholder="Team">
            <input type="email" class="form-control" id="useremail" name="useremail" placeholder="Email">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <hr>
<table class="table table-striped">

    <thead>
      <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Email</th>
        <th>Tools</th>
      </tr>
    </thead>

    <tbody>

        {% for x in user.1.Users %}

      <tr>
        <td><a href="{{ url_for ('getuserbyid', id=x.id) }}">{{x.name}}</a></td>
        <td>{{x.team}}</td>
        <td>IMP</td>
        <td>Edit, <a href="{{ url_for ('deluser', id=x.id) }}">Delete</a></td>
      </tr>{% endfor %}

    </tbody>

</table>



{% endblock %}
